@font-face {
	font-family: "American Typewriter";
	src: url(/cha/american-typewriter.ttf);
}

body {
	margin: 0;
}

div#titulo img {
	position: absolute;
	top: 0;
	height: 90px;
}

div#titulo h3 {
	text-align: center;
	font-family: "American Typewriter", Arial;
	font-weight: normal;
	font-size: 1.4em;
	margin-top: 24px;
	color: #383838;
}

div#nomes {
	margin-top: 30px;
}

div#nomes h2 {
	text-align: center;
	font-family: "Amatic SC", Arial;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: #383838;
}

div#data h3 {
	text-align: center;
	font-family: "American Typewriter", Arial;
	font-weight: normal;
}

div#endereco h2 {
	text-align: center;
	font-family: "Amatic SC", Arial;
	font-weight: bold;
	font-size: 1.4em;
	color: #383838;
}

div#coracao {
	text-align: center;
	margin-top: -34px;
}

div#coracao img {
	width: 42px;
	vertical-align: middle;
}

div#coracao h1 {
	display: inline-block;
	vertical-align: middle;
	font-family: "American Typewriter", Arial;
	font-weight: normal;
	font-size: 42px;
	color: #3A3A3A;
	margin-top: 23px;
}

div#coracao h1:first-child {
	margin-right: -9px;
}

div#coracao h1:last-child {
	margin-left: -9px;
}

div#lista {
	text-align: right;
	font-family: "Amatic SC", Arial;
	font-weight: bold;
}

div#lista img {
	width: 22px;
	vertical-align: middle;
}

div#lista a {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	text-decoration: none;
	font-size: 1.6em;
}

@media print {
	div {
		width: 50%;
	}
	div#lista {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.pc {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.phone {
		display: none;
	}
	div#titulo img {
		height: 110px;
	}
	div#titulo h3 {
		font-size: 2.5em;
	}
	div#nomes h2 {
		font-size: 2.5em;
	}
	div#data h3 {
		font-size: 1.5em;
	}
	div#endereco h2 {
		font-size: 2em;
	}
	div#lista {
		margin-top: -50px;
	}
	div#lista a {
		transition-duration: 100ms;
	}
	div#lista a:hover {
		transform: scale(1.2);
	}
}
